:root {
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-image: linear-gradient(90deg, #000000 0%, #191919 50%, #000000 100%);
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  line-height: 44px;
}

.navbar-no-shadow {
  min-height: 10vh;
}

.navbar-no-shadow-container {
  z-index: 5;
  width: 100%;
  max-width: 1140px;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.dropdown-custom {
  position: relative;
  display: inline-block;
}

.dropdown-custom-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid black;
  border-radius: 5px;
  max-height: 300px;
  /* Adjust as needed */
  overflow-y: auto;
  /* Add this line */
}

.dropdown-custom-button,
.dropdown-custom-content {
  width: max-content;
}

.dropdown-custom-option {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-custom-option:hover {
  background-color: #e3e3e3
}

.footer-brand img {
  max-width: 200px;
  /* Replace with the maximum width you want */
}

.dropdown-custom-button {
  background-color: #969696;
  background-size: 20px;
  font-family: Outfit, sans-serif;
  color: #000;
  padding: 10px;
  font-size: 16px;
  box-shadow: 2px 2px 2px rgba(114, 129, 167, .04);
  border-radius: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-custom-button:hover {
  background-color: #e4e4e4;
}

.dropdown-custom-option img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  /* Adjust as needed */
}

/* Style the scrollbar itself */
.dropdown-custom-content::-webkit-scrollbar {
  width: 10px;
  /* Adjust as needed */
}

/* Style the scrollbar thumb */
.dropdown-custom-content::-webkit-scrollbar-thumb {
  background: #888;
  /* Adjust as needed */
}

/* Style the scrollbar thumb on hover */
.dropdown-custom-content::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Adjust as needed */
}

.dropdown-custom-content .dropdown-custom-option.selected {
  background-color: #b7b7b7;
  /* Adjust as needed */
}

.option-text {
  display: flex;
  flex-direction: column;
}

.option-title {
  font-weight: bold;
}

.option-subtext {
  font-size: 0.8em;
  color: #666;
}

.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-link {
  color: #fff;
  letter-spacing: .25px;
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(177, 177, 177, .75);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-button-wrapper {
  margin-left: 120px;
}

.button-primary {
  color: #000;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #969696;
  border-radius: 10px;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .3s;
}

.button-primary:hover {
  color: #000;
  background-color: #fff;
}

.button-primary:active {
  background-color: #969696;
}

.body {
  height: 100vh;
  aspect-ratio: auto;
  -webkit-text-fill-color: inherit;
  background-color: #000;
  background-clip: border-box;
  background-size: 200%;
  animation: bg-animation 40s infinite alternate;
}

.body:hover {
  background-color: #000;
}

.hero-without-image {
  min-height: 60vh;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px #e4ebf3;
  margin-bottom: 0;
  padding: 160px 60px 0;
  position: relative;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }

}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two {
  max-width: 750px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.button-primary-2 {
  color: #969696;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: rgba(150, 150, 150, 0);
  border: 1px solid #969696;
  border-radius: 10px;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  border-style: solid;
  border-color: var(--white) #fff var(--white) var(--white);
  color: #fff;
  background-color: rgba(50, 52, 58, 0);
}

.button-primary-2:active {
  background-color: #43464d;
}

.heading {
  color: #fff;
  margin-bottom: 0;
  font-family: Outfit, sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 70px;
}

.bold-text {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #999, #fff 48%, #757575 101%);
  -webkit-background-clip: text;
  background-clip: text;
}

.footer-dark {
  height: 30%;
  min-height: 30%;
  border-top: 1px solid #1a1b1f;
  border-bottom: 1px #000;
  padding: 50px 30px 15px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper {
  max-width: 900px;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  color: #919191;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #707070;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(255, 255, 255, .75);
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #1a1b1f;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.image {
  color: #3f3f3f;
}

.column {
  padding-left: 40px;
  padding-right: 40px;
}

.column-2 {
  padding-left: 60px;
  padding-right: 60px;
}

.column-3 {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.column-4 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  flex-wrap: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;
  display: flex;
}

.column-5 {
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.paragraph {
  width: 20ch;
  color: #7e9191;
  object-fit: fill;
  padding-right: 0;
  display: block;
  overflow: visible;
}

.heading-2 {
  width: 150%;
  text-align: center;
  justify-content: center;
  display: flex;
}

.columns {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 60px;
  display: flex;
}

.heading-3 {
  width: auto;
  align-self: auto;
}

.counter1 {
  color: #fff;
  text-align: center;
  font-family: Outfit, sans-serif;
  display: block;
}

.body-2 {
  height: 70%;
  background-color: #000;
}

.div-block-2 {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.input-field {
  width: 50%;
  height: 100%;
  min-height: 48px;
  color: #151e24;
  border: 1px solid #e9ecf0;
  border-radius: 12px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 10px;
  padding: 12px 16px;
  font-size: 14px;
  transition: all .25s;
  box-shadow: 1px 1px 2px rgba(114, 129, 167, .04);
}

.input-field:hover {
  border-color: #ccd5e0;
}

.input-field:focus {
  border-color: #000;
}

.input-field::-ms-input-placeholder {
  color: #a0a6b0;
}

.input-field::placeholder {
  color: #a0a6b0;
}

.input-field.dex,
.input-field.full {
  width: 80%;
}

.form-line-break {
  height: 1px;
  background-color: #e4e6f1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.success-message {
  background-color: #f3f5fb;
  border-radius: 12px;
}

.field-label {
  color: #000;
  letter-spacing: -.02em;
  margin-top: 10px;
  margin-bottom: 8px;
  padding-top: 0;
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.rendered-number {
  color: #000;
  text-align: center;
  letter-spacing: -.04em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Outfit, sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
}

.form-block {
  margin-bottom: 0;
}

.title-large {
  color: #000;
  letter-spacing: -.04em;
  margin-top: 0;
  margin-bottom: 8px;
  padding-right: 20px;
  font-family: Outfit, sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.title-large .centered {
  text-align: center;
  text-align: justify;
  text-align-last: center;
  -moz-text-align-last: center;
}

.card-flowbase {
  width: 100%;
  max-width: 420px;
  background-color: #fff;
  border-radius: 24px;
  margin-left: 60px;
  margin-right: 60px;
  padding: 32px;
  display: block;
  box-shadow: 34px 34px 88px rgba(23, 9, 54, .08);
}

.prefix-text {
  color: #000;
  letter-spacing: -.01em;
  margin-bottom: 0;
  margin-left: 10px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 32px;
}

.input-field-wrap {
  margin-bottom: 20px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes warning {
  0% {
    transform: scale(1.1);
    opacity: 1;
  }

  50% {
    transform: scale(0.9);
    opacity: 0.5;
  }

  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.warning {
  animation: warning 1.5s ease-in-out infinite;
}

.spin {
  animation: rotate 2s linear infinite;
}

.buttons-box {
  background-color: #969696;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  padding: 4px;
  padding-right: 0px;
  padding-left: 4px;
}

.stake-button {
  flex: 1;
  padding: 10px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  border: 3px solid rgba(0, 0, 0, 0);
  font-family: Outfit, sans-serif;
  margin-right: 4px;
}

.stake-button:hover {
  border: 3px solid #96969600;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  color: rgb(74, 74, 74);
}

.stake-button.selected {
  background-color: #ffffffb6;
  border-radius: 10px;
  border: 3px solid #96969600;
  color: black;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 15px 15px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -200px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.submit-button {
  width: 100%;
  min-height: 48px;
  color: #000;
  text-align: center;
  white-space: nowrap;
  background-color: #969696;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px 32px;
  font-family: Outfit, sans-serif;
  font-size: 18px;
  display: flex;
  position: relative;
  box-shadow: 2px 2px 2px rgba(114, 129, 167, .04);
}

.submit-button:hover {
  background-color: hsl(0, 0%, 78%);
}

.submit-button.third {
  width: 31%;
  margin-left: 0;
  margin-right: 12px;
}

.submit-button.create {
  width: 31%;
  margin-left: 0;
  float: right;
}

.submit-button.half {
  width: 50%;
  height: 80%;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.submit-button.switch {
  margin-top: 20px;
  font-family: "Fa Solid 900", sans-serif;
  font-size: 25px;
}

.submit-button.mini {
  width: 85px;
  height: 85px;
  min-height: 0;
  aspect-ratio: 1 / 1;
  border-radius: 400px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Varela Round, sans-serif;
  font-size: 30px;
  font-weight: 900;
}

.text-block {
  width: 50%;
  color: #222;
  text-align: left;
  object-fit: fill;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 0;
  font-family: Lato, sans-serif;
  display: flex;
}

.text-block.right {
  justify-content: flex-start;
}

.text-block._2-3 {
  width: 66%;
}

.column-7 {
  text-align: left;
  border-right: 1px solid #3b3b3b;
  justify-content: flex-end;
  margin-top: 0;
  display: flex;
}

.columns-2 {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 0;

}

.home-screen-columns {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.home-screen-columns .left-element {
  flex: 0 0 auto;
}

.home-screen-columns .right-element {
  flex: 1;
}

.column-8 {
  justify-content: flex-start;
  display: flex;
}

.dropdown-toggle {
  border: 1px solid #e9ecf0;
  border-radius: 12px;
  padding-bottom: 20px;
}

.text-block-2 {
  color: #b5a6b0;
}

.div-block-3 {
  margin-bottom: -22px;
}

.container-3 {
  background-color: #fff;
}

.heading-4 {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  font-family: Outfit, sans-serif;
}

.heading-4.smaller {
  color: #9b9b9b;
  font-size: 25px;
}

.heading-5 {
  width: 50%;
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Outfit, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.heading-5.full {
  width: 100%;
}

.navbar-logo-center-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.navbar-logo-center-container.shadow-three {
  width: 100%;
  max-width: 1140px;
}

.navbar-wrapper-three {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.navbar-brand-three {
  z-index: 5;
  position: absolute;
}

.nav-menu-wrapper-three {
  width: 100%;
}

.nav-menu-three {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-menu-block {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link-2 {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-2:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-2 {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle-2 {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle-2:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon-2 {
  margin-right: 10px;
}

.nav-dropdown-list-2 {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list-2.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link-2 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-link-accent {
  color: #727272;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button-primary-3 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-family: Lato, sans-serif;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-3:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-3:active {
  background-color: #43464d;
}

.navbar-logo-left {
  min-height: 10%;
  justify-content: center;
  display: flex;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px 0;
}

.navbar-wrapper-2 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-divider {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent-2 {
  color: #969696;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent-2:hover,
.nav-link-accent-2.w--current {
  color: #ffffff;
}

.heading-6 {
  margin-top: 10px;
  font-family: Outfit, sans-serif;
  font-size: 25px;
  display: block;
}

.div-block-4 {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.div-block-5 {
  display: flex;
}

.button {
  color: var(--black);
  text-align: left;
  background-color: #969696;
  border-radius: 10000000px;
  margin-top: 20px;
  display: inline-block;
}

.container-4 {
  width: 97px;
  justify-content: center;
  display: flex;
}

.right-text {
  width: 66%;
  text-align: left;
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
}

.right-text:hover {
  font-weight: 700;
}

.right-text.double {
  width: 50%;
  aspect-ratio: auto;
  font-family: Lato, sans-serif;
}

.container-5 {
  align-items: center;
  margin-bottom: 8px;
  display: flex;
}

.left-text {
  width: 30%;
}

.left-text.wide {
  width: 53%;
}

.left-text.double {
  width: 46%;
  font-family: Lato, sans-serif;
}

.left-text.double:hover {
  font-weight: 700;
}

.image-2 {
  width: 15%;
  height: auto;
  max-height: 1%;
  margin-right: 10px;
}

.stab-logo {
  width: 15%;
  margin-right: 10px;
  border-radius: 50%;
}

.div-block-6 {
  align-items: center;
  display: flex;
}

.image-3 {
  width: 15%;
  margin-right: 10px;
}

.div-block-7 {
  width: auto;
  flex-flow: row;
  align-items: center;
  display: flex;
}

.container-6 {
  display: flex;
}

.text-block-3 {
  margin-right: 10px;
  font-family: Lato, sans-serif;
}

.bigtext {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  font-family: Outfit, sans-serif;
  font-size: 25px;
}

.bigtext.abitsmaller {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}

.bold-text-2 {
  color: #cecece;
  -webkit-text-stroke-color: #707070;
  display: inline-block;
  overflow: visible;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.div-block-8 {
  width: 800px;
  height: 300px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  display: block;
}

.section {
  justify-content: center;
  display: flex;
}

.container-7 {
  width: 100%;
  height: auto;
  max-width: 982px;
  background-color: #e28484;
  border-radius: 20px;
  flex-flow: wrap;
  flex: 0 auto;
  justify-content: center;
  align-self: auto;
  margin-top: 0px;
  margin-left: 63px;
  margin-right: 70px;
  padding: 25px;
  display: flex;
}

.container-interests {
  width: 100%;
  height: auto;
  max-width: 982px;
  background-color: #ffffff;
  border-radius: 20px;
  flex-flow: wrap;
  flex: 0 auto;
  justify-content: center;
  align-self: auto;
  margin-top: 0px;
  margin-left: 63px;
  margin-right: 70px;
  padding-bottom: 10px;
  padding-top: 15px;
  display: flex;
  font-family: Outfit, sans-serif;
}

.container-vote {
  width: 100%;
  height: auto;
  max-width: 980px;
  background-color: #ffffff;
  border-radius: 20px;
  flex-flow: wrap;
  flex: 0 auto;
  justify-content: center;
  align-self: auto;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  padding: 25px;
  display: flex;
}

.container-8 {
  background-color: #e28484;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 10px 0;
  display: flex;
}

.paragraph-2 {
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
  display: block;
}

.image-4 {
  display: block;
}

.section-2 {
  justify-content: center;
  margin-top: 20px;
  display: flex;
}

.paragraph-3 {
  text-align: right;
  font-size: 10px;
}

.section-3 {
  min-height: 30vh;
  margin-top: 60px;
}

.heading-7 {
  color: var(--white);
  margin-bottom: 20px;
  font-family: Outfit, sans-serif;
  display: block;
}

.heading-7.smaller {
  font-size: 28px;
}

.container-9 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-5 {
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 0;
  padding-right: 0;
}

.text-block-4 {
  width: 100%;
  color: var(--white);
  text-align: center;
}

@media screen and (max-width: 991px) {
  .hide-on-mobile {
    display: none;
  }

  .container-7 {
    max-width: 420px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .container-interests {
    max-width: 420px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.text-block-4.on-white {
  color: var(--black);
}

@media screen and (max-width: 991px) {
  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu {
    background-color: #ffffff;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .container,
  .container-2 {
    max-width: 728px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .column-7,
  .column-8 {
    justify-content: center;
  }

  .navbar-wrapper-three {
    justify-content: space-between;
  }

  .navbar-brand-three {
    position: relative;
  }

  .nav-menu-wrapper-three {
    background-color: rgba(0, 0, 0, 0);
    top: 70px;
  }

  .nav-menu-three {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list-2.shadow-three.w--open {
    position: absolute;
  }

  .menu-button-2 {
    padding: 12px;
  }

  .menu-button-2.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .nav-menu-wrapper-2 {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two {
    background-color: #000000;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
    border: 2px solid #ffffff;
    /* Add a 2px red border */
    opacity: 0.9;
    /* Set the opacity to 50% */
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .hero-without-image {
    padding: 60px 15px;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, .75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .column-3,
  .column-4,
  .column-5 {
    display: block;
  }

  .paragraph {
    width: auto;
  }

  .columns {
    display: block;
  }

  .column-6 {
    padding-bottom: 20px;
  }

  .card-flowbase {
    margin-bottom: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .column-7,
  .column-8 {
    justify-content: center;
  }

  .navbar-brand-three {
    padding-left: 0;
  }

  .nav-menu-three {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-menu-block {
    flex-direction: column;
  }

  .nav-link-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown-2 {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list-2.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list-2.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list-2.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-11 {
    margin-top: 10px;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand-2 {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent-2 {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }
}

@media screen and (max-width: 479px) {
  .nav-menu {
    flex-direction: column;
  }

  .nav-button-wrapper {
    width: auto;
  }

  .container,
  .container-2 {
    max-width: none;
  }

  .card-flowbase {
    margin-bottom: 60px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .nav-menu-three,
  .nav-menu-two {
    flex-direction: column;
  }
}

#w-node-_08cc65d9-1972-7eb2-cda6-d6a9b87e3dc0-05ccd9b6,
#w-node-_08cc65d9-1972-7eb2-cda6-d6a9b87e3dc9-05ccd9b6,
#w-node-_08cc65d9-1972-7eb2-cda6-d6a9b87e3dd4-05ccd9b6,
#w-node-a8a3bc6f-477b-48dc-1184-d7255895c892-a0059d2e,
#w-node-a8a3bc6f-477b-48dc-1184-d7255895c897-a0059d2e,
#w-node-a8a3bc6f-477b-48dc-1184-d7255895c89e-a0059d2e,
#w-node-a8a3bc6f-477b-48dc-1184-d7255895c892-1a45467f,
#w-node-a8a3bc6f-477b-48dc-1184-d7255895c897-1a45467f,
#w-node-a8a3bc6f-477b-48dc-1184-d7255895c89e-1a45467f,
#w-node-a8a3bc6f-477b-48dc-1184-d7255895c892-87fdd64c,
#w-node-a8a3bc6f-477b-48dc-1184-d7255895c897-87fdd64c,
#w-node-a8a3bc6f-477b-48dc-1184-d7255895c89e-87fdd64c,
#w-node-a8a3bc6f-477b-48dc-1184-d7255895c892-09794d0a,
#w-node-a8a3bc6f-477b-48dc-1184-d7255895c897-09794d0a,
#w-node-a8a3bc6f-477b-48dc-1184-d7255895c89e-09794d0a,
#w-node-a8a3bc6f-477b-48dc-1184-d7255895c892-e70a4ca7,
#w-node-a8a3bc6f-477b-48dc-1184-d7255895c897-e70a4ca7,
#w-node-a8a3bc6f-477b-48dc-1184-d7255895c89e-e70a4ca7 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


@font-face {
  font-family: 'Fa Solid 900';
  src: url('../fonts/fa-solid-900.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}